<div class ="container">
	<row>
		<div class ="col-xs-offset-3 col-xs-6">
			<h1>WELCOME</h1>
			<p>あんたの世界　あなたの本</p>
			<p>この世界の皆さんへ届けましょう</p>
			<row><%= link_to "ログイン", new_user_session_path, class: "col-xs-offset-2 col-xs-8"%></row>
			<row><%= link_to '新規登録', new_user_registration_path, class: "col-xs-offset-2 col-xs-8"%></row>
		</div>
	</row>
</div>